In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('C:\\TMP\\STA2104finaldata.csv')
df

,Year,Month,DayofMonth,DayOfWeek,DepTime,ArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,...,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted
0,2011,1,1,6,1400.0,1500.0,AA,428,N576AA,60.0,...,-10.0,0.0,IAH,DFW,224,7.0,13.0,0,NaN,0
1,2011,1,2,7,1401.0,1501.0,AA,428,N557AA,60.0,...,-9.0,1.0,IAH,DFW,224,6.0,9.0,0,NaN,0
2,2011,1,3,1,1352.0,1502.0,AA,428,N541AA,70.0,...,-8.0,-8.0,IAH,DFW,224,5.0,17.0,0,NaN,0
3,2011,1,4,2,1403.0,1513.0,AA,428,N403AA,70.0,...,3.0,3.0,IAH,DFW,224,9.0,22.0,0,NaN,0
4,2011,1,5,3,1405.0,1507.0,AA,428,N492AA,62.0,...,-3.0,5.0,IAH,DFW,224,9.0,9.0,0,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
227491,2011,12,6,2,1818.0,2111.0,WN,1191,N284WN,113.0,...,-9.0,8.0,HOU,TPA,781,5.0,11.0,0,NaN,0
227492,2011,12,6,2,2047.0,2334.0,WN,1674,N366SW,107.0,...,4.0,7.0,HOU,TPA,781,4.0,9.0,0,NaN,0
227493,2011,12,6,2,912.0,1031.0,WN,127,N777QC,79.0,...,-4.0,-3.0,HOU,TUL,453,4.0,14.0,0,NaN,0
227494,2011,12,6,2,656.0,812.0,WN,621,N727SW,76.0,...,-13.0,-4.0,HOU,TUL,453,3.0,9.0,0,NaN,0
227495,2011,12,6,2,1600.0,1713.0,WN,1597,N745SW,73.0,...,-12.0,0.0,HOU,TUL,453,3.0,11.0,0,NaN,0

In [4]:
df.groupby('FlightNum').aggregate({'ArrDelay':np.mean, 'DepDelay': np.mean})

            ArrDelay   DepDelay
FlightNum
1           6.745424  11.374793
2          -1.640167  -0.441667
3           2.271318   5.158301
4          -2.827309   3.162698
5           6.200000   7.603738
...              ...        ...
7033      -23.000000  -5.000000
7037       19.000000  18.487805
7231       -9.000000  -8.000000
7240       -6.750000   5.500000
7290      -22.000000  -7.500000

[3740 rows x 2 columns]

In [5]:
df.groupby('TailNum').aggregate({'ArrDelay':np.mean, 'DepDelay':np.mean})

          ArrDelay   DepDelay
TailNum
N0EGMQ    1.918919  12.270270
N10156    8.199357   7.628205
N10575   18.148936  16.531915
N11106   10.101639   9.990228
N11107    8.052786   7.680352
...            ...        ...
N997DL   -2.545455   1.363636
N998AT   -1.210526   2.473684
N998DL   -7.333333  -0.166667
N999DN   -7.285714  -3.142857
N9EAMQ   12.545455  13.750000

[3319 rows x 2 columns]

In [6]:
df.loc[df.DayOfWeek == 1, ]

,Year,Month,DayofMonth,DayOfWeek,DepTime,ArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,...,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted
2,2011,1,3,1,1352.0,1502.0,AA,428,N541AA,70.0,...,-8.0,-8.0,IAH,DFW,224,5.0,17.0,0,NaN,0
9,2011,1,10,1,1443.0,1553.0,AA,428,N504AA,70.0,...,43.0,43.0,IAH,DFW,224,6.0,19.0,0,NaN,0
16,2011,1,17,1,1530.0,1634.0,AA,428,N518AA,64.0,...,84.0,90.0,IAH,DFW,224,8.0,8.0,0,NaN,0
23,2011,1,24,1,1356.0,1513.0,AA,428,N531AA,77.0,...,3.0,-4.0,IAH,DFW,224,6.0,28.0,0,NaN,0
30,2011,1,31,1,1441.0,1553.0,AA,428,N505AA,72.0,...,43.0,41.0,IAH,DFW,224,8.0,25.0,0,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
227360,2011,12,5,1,1820.0,2111.0,WN,1191,N465WN,111.0,...,-9.0,10.0,HOU,TPA,781,4.0,10.0,0,NaN,0
227361,2011,12,5,1,2043.0,2329.0,WN,1674,N397SW,106.0,...,-1.0,3.0,HOU,TPA,781,2.0,11.0,0,NaN,0
227362,2011,12,5,1,923.0,1041.0,WN,127,N781WN,78.0,...,6.0,8.0,HOU,TUL,453,5.0,14.0,0,NaN,0
227363,2011,12,5,1,703.0,818.0,WN,621,N245WN,75.0,...,-7.0,3.0,HOU,TUL,453,5.0,11.0,0,NaN,0
227364,2011,12,5,1,1627.0,1741.0,WN,1597,N418WN,74.0,...,16.0,27.0,HOU,TUL,453,3.0,11.0,0,NaN,0

In [7]:
df.loc[df.DayOfWeek == 7, ]

,Year,Month,DayofMonth,DayOfWeek,DepTime,ArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,...,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted
1,2011,1,2,7,1401.0,1501.0,AA,428,N557AA,60.0,...,-9.0,1.0,IAH,DFW,224,6.0,9.0,0,NaN,0
8,2011,1,9,7,1443.0,1554.0,AA,428,N476AA,71.0,...,44.0,43.0,IAH,DFW,224,8.0,22.0,0,NaN,0
15,2011,1,16,7,1359.0,1509.0,AA,428,N555AA,70.0,...,-1.0,-1.0,IAH,DFW,224,12.0,17.0,0,NaN,0
22,2011,1,23,7,1356.0,1501.0,AA,428,N479AA,65.0,...,-9.0,-4.0,IAH,DFW,224,7.0,18.0,0,NaN,0
29,2011,1,30,7,1359.0,1456.0,AA,428,N561AA,57.0,...,-14.0,-1.0,IAH,DFW,224,7.0,11.0,0,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
227229,2011,12,4,7,1904.0,2149.0,WN,871,N427WN,105.0,...,-1.0,9.0,HOU,TPA,781,4.0,8.0,0,NaN,0
227230,2011,12,4,7,1323.0,1629.0,WN,2171,N642WN,126.0,...,24.0,18.0,HOU,TPA,781,4.0,17.0,0,NaN,0
227231,2011,12,4,7,2040.0,2322.0,WN,3619,N440LV,102.0,...,-13.0,-5.0,HOU,TPA,781,4.0,9.0,0,NaN,0
227232,2011,12,4,7,1601.0,1712.0,WN,1956,N200WN,71.0,...,-13.0,1.0,HOU,TUL,453,4.0,8.0,0,NaN,0
227233,2011,12,4,7,929.0,1049.0,WN,2960,N748SW,80.0,...,-1.0,-1.0,HOU,TUL,453,5.0,14.0,0,NaN,0

In [8]:
df.loc[df.DayOfWeek == 2, ]

,Year,Month,DayofMonth,DayOfWeek,DepTime,ArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,...,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted
3,2011,1,4,2,1403.0,1513.0,AA,428,N403AA,70.0,...,3.0,3.0,IAH,DFW,224,9.0,22.0,0,NaN,0
10,2011,1,11,2,1429.0,1539.0,AA,428,N565AA,70.0,...,29.0,29.0,IAH,DFW,224,8.0,20.0,0,NaN,0
17,2011,1,18,2,1408.0,1508.0,AA,428,N507AA,60.0,...,-2.0,8.0,IAH,DFW,224,7.0,11.0,0,NaN,0
24,2011,1,25,2,1352.0,1452.0,AA,428,N561AA,60.0,...,-18.0,-8.0,IAH,DFW,224,7.0,13.0,0,NaN,0
34,2011,1,4,2,714.0,821.0,AA,460,N478AA,67.0,...,-14.0,-6.0,IAH,DFW,224,6.0,15.0,0,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
227491,2011,12,6,2,1818.0,2111.0,WN,1191,N284WN,113.0,...,-9.0,8.0,HOU,TPA,781,5.0,11.0,0,NaN,0
227492,2011,12,6,2,2047.0,2334.0,WN,1674,N366SW,107.0,...,4.0,7.0,HOU,TPA,781,4.0,9.0,0,NaN,0
227493,2011,12,6,2,912.0,1031.0,WN,127,N777QC,79.0,...,-4.0,-3.0,HOU,TUL,453,4.0,14.0,0,NaN,0
227494,2011,12,6,2,656.0,812.0,WN,621,N727SW,76.0,...,-13.0,-4.0,HOU,TUL,453,3.0,9.0,0,NaN,0
227495,2011,12,6,2,1600.0,1713.0,WN,1597,N745SW,73.0,...,-12.0,0.0,HOU,TUL,453,3.0,11.0,0,NaN,0

In [9]:
df.loc[df.DayOfWeek == 3, ]

,Year,Month,DayofMonth,DayOfWeek,DepTime,ArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,...,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted
4,2011,1,5,3,1405.0,1507.0,AA,428,N492AA,62.0,...,-3.0,5.0,IAH,DFW,224,9.0,9.0,0,NaN,0
11,2011,1,12,3,1419.0,1515.0,AA,428,N577AA,56.0,...,5.0,19.0,IAH,DFW,224,4.0,11.0,0,NaN,0
18,2011,1,19,3,1356.0,1503.0,AA,428,N523AA,67.0,...,-7.0,-4.0,IAH,DFW,224,10.0,11.0,0,NaN,0
25,2011,1,26,3,1353.0,1455.0,AA,428,N541AA,62.0,...,-15.0,-7.0,IAH,DFW,224,8.0,14.0,0,NaN,0
35,2011,1,5,3,718.0,822.0,AA,460,N551AA,64.0,...,-13.0,-2.0,IAH,DFW,224,7.0,13.0,0,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226716,2011,12,28,3,623.0,1020.0,US,1820,N948UW,177.0,...,-16.0,-2.0,IAH,PHL,1325,4.0,11.0,0,NaN,0
226717,2011,12,28,3,1305.0,1703.0,US,1824,N945UW,178.0,...,-18.0,-5.0,IAH,PHL,1325,3.0,14.0,0,NaN,0
226718,2011,12,28,3,1748.0,2155.0,US,1828,N950UW,187.0,...,-11.0,-7.0,IAH,PHL,1325,3.0,21.0,0,NaN,0
226719,2011,12,28,3,659.0,1014.0,US,1924,N434US,135.0,...,-11.0,-1.0,IAH,CLT,912,12.0,12.0,0,NaN,0
226720,2011,12,28,3,1538.0,1859.0,US,1978,N452UW,141.0,...,-6.0,-1.0,IAH,CLT,912,8.0,20.0,0,NaN,0

In [10]:
df.loc[df.DayOfWeek == 4, ]

,Year,Month,DayofMonth,DayOfWeek,DepTime,ArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,...,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted
5,2011,1,6,4,1359.0,1503.0,AA,428,N262AA,64.0,...,-7.0,-1.0,IAH,DFW,224,6.0,13.0,0,NaN,0
12,2011,1,13,4,1358.0,1501.0,AA,428,N476AA,63.0,...,-9.0,-2.0,IAH,DFW,224,6.0,13.0,0,NaN,0
19,2011,1,20,4,1507.0,1622.0,AA,428,N425AA,75.0,...,72.0,67.0,IAH,DFW,224,9.0,24.0,0,NaN,0
26,2011,1,27,4,1356.0,1458.0,AA,428,N512AA,62.0,...,-12.0,-4.0,IAH,DFW,224,12.0,10.0,0,NaN,0
36,2011,1,6,4,719.0,821.0,AA,460,N251AA,62.0,...,-14.0,-1.0,IAH,DFW,224,8.0,10.0,0,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226890,2011,12,1,4,1836.0,2122.0,WN,1191,N729SW,106.0,...,2.0,26.0,HOU,TPA,781,4.0,7.0,0,NaN,0
226891,2011,12,1,4,2054.0,2338.0,WN,1674,N413WN,104.0,...,8.0,14.0,HOU,TPA,781,3.0,8.0,0,NaN,0
226892,2011,12,1,4,913.0,1032.0,WN,127,N943WN,79.0,...,-3.0,-2.0,HOU,TUL,453,4.0,8.0,0,NaN,0
226893,2011,12,1,4,657.0,813.0,WN,621,N475WN,76.0,...,-12.0,-3.0,HOU,TUL,453,3.0,7.0,0,NaN,0
226894,2011,12,1,4,1603.0,1718.0,WN,1597,N953WN,75.0,...,-7.0,3.0,HOU,TUL,453,4.0,8.0,0,NaN,0

In [11]:
sat = df.loc[df.DayOfWeek == 6, ]
sun = df.loc[df.DayOfWeek == 7, ]
pd.concat([sat, sun])

,Year,Month,DayofMonth,DayOfWeek,DepTime,ArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,...,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted
0,2011,1,1,6,1400.0,1500.0,AA,428,N576AA,60.0,...,-10.0,0.0,IAH,DFW,224,7.0,13.0,0,NaN,0
7,2011,1,8,6,1355.0,1454.0,AA,428,N477AA,59.0,...,-16.0,-5.0,IAH,DFW,224,7.0,12.0,0,NaN,0
14,2011,1,15,6,1359.0,1459.0,AA,428,N462AA,60.0,...,-11.0,-1.0,IAH,DFW,224,6.0,10.0,0,NaN,0
21,2011,1,22,6,1355.0,1456.0,AA,428,N551AA,61.0,...,-14.0,-5.0,IAH,DFW,224,9.0,8.0,0,NaN,0
28,2011,1,29,6,1355.0,1455.0,AA,428,N491AA,60.0,...,-15.0,-5.0,IAH,DFW,224,7.0,7.0,0,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
227229,2011,12,4,7,1904.0,2149.0,WN,871,N427WN,105.0,...,-1.0,9.0,HOU,TPA,781,4.0,8.0,0,NaN,0
227230,2011,12,4,7,1323.0,1629.0,WN,2171,N642WN,126.0,...,24.0,18.0,HOU,TPA,781,4.0,17.0,0,NaN,0
227231,2011,12,4,7,2040.0,2322.0,WN,3619,N440LV,102.0,...,-13.0,-5.0,HOU,TPA,781,4.0,9.0,0,NaN,0
227232,2011,12,4,7,1601.0,1712.0,WN,1956,N200WN,71.0,...,-13.0,1.0,HOU,TUL,453,4.0,8.0,0,NaN,0
227233,2011,12,4,7,929.0,1049.0,WN,2960,N748SW,80.0,...,-1.0,-1.0,HOU,TUL,453,5.0,14.0,0,NaN,0

In [12]:
df.loc[df.UniqueCarrier == 'AA',:]

,Year,Month,DayofMonth,DayOfWeek,DepTime,ArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,...,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted
0,2011,1,1,6,1400.0,1500.0,AA,428,N576AA,60.0,...,-10.0,0.0,IAH,DFW,224,7.0,13.0,0,NaN,0
1,2011,1,2,7,1401.0,1501.0,AA,428,N557AA,60.0,...,-9.0,1.0,IAH,DFW,224,6.0,9.0,0,NaN,0
2,2011,1,3,1,1352.0,1502.0,AA,428,N541AA,70.0,...,-8.0,-8.0,IAH,DFW,224,5.0,17.0,0,NaN,0
3,2011,1,4,2,1403.0,1513.0,AA,428,N403AA,70.0,...,3.0,3.0,IAH,DFW,224,9.0,22.0,0,NaN,0
4,2011,1,5,3,1405.0,1507.0,AA,428,N492AA,62.0,...,-3.0,5.0,IAH,DFW,224,9.0,9.0,0,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
208661,2011,12,27,2,1021.0,1333.0,AA,2234,N3ETAA,132.0,...,-12.0,1.0,IAH,MIA,964,8.0,12.0,0,NaN,0
208662,2011,12,28,3,1015.0,1329.0,AA,2234,N3FJAA,134.0,...,-16.0,-5.0,IAH,MIA,964,9.0,13.0,0,NaN,0
208663,2011,12,29,4,1023.0,1335.0,AA,2234,N3GSAA,132.0,...,-10.0,3.0,IAH,MIA,964,12.0,10.0,0,NaN,0
208664,2011,12,30,5,1024.0,1334.0,AA,2234,N3BAAA,130.0,...,-11.0,4.0,IAH,MIA,964,9.0,11.0,0,NaN,0
208665,2011,12,31,6,1024.0,1343.0,AA,2234,N3HNAA,139.0,...,-2.0,4.0,IAH,MIA,964,8.0,12.0,0,NaN,0

In [13]:
df.loc[df.CancellationCode == 'A', ]

,Year,Month,DayofMonth,DayOfWeek,DepTime,ArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,...,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted
194,2011,1,24,1,NaN,NaN,AA,1700,N3BGAA,NaN,...,NaN,NaN,IAH,MIA,964,NaN,NaN,1,A,0
335,2011,1,19,3,NaN,NaN,B6,624,N504JB,NaN,...,NaN,NaN,HOU,JFK,1428,NaN,NaN,1,A,0
803,2011,1,29,6,NaN,NaN,CO,408,NaN,NaN,...,NaN,NaN,IAH,EWR,1400,NaN,NaN,1,A,0
2537,2011,1,20,4,NaN,NaN,CO,323,NaN,NaN,...,NaN,NaN,IAH,MSY,305,NaN,NaN,1,A,0
2894,2011,1,18,2,NaN,NaN,CO,106,NaN,NaN,...,NaN,NaN,IAH,EWR,1400,NaN,NaN,1,A,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226999,2011,12,2,5,NaN,NaN,WN,1167,N510SW,NaN,...,NaN,NaN,HOU,OAK,1642,NaN,NaN,1,A,0
227047,2011,12,3,6,NaN,NaN,WN,1491,N348SW,NaN,...,NaN,NaN,HOU,DAL,239,NaN,NaN,1,A,0
227153,2011,12,4,7,NaN,NaN,WN,2387,N928WN,NaN,...,NaN,NaN,HOU,DAL,239,NaN,NaN,1,A,0
227271,2011,12,5,1,NaN,NaN,WN,38,N604SW,NaN,...,NaN,NaN,HOU,DAL,239,NaN,NaN,1,A,0
227394,2011,12,6,2,NaN,NaN,WN,16,N362SW,NaN,...,NaN,NaN,HOU,DAL,239,NaN,NaN,1,A,0

In [14]:
df.loc[df.CancellationCode == 'B', ]

,Year,Month,DayofMonth,DayOfWeek,DepTime,ArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,...,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted
210,2011,1,9,7,NaN,NaN,AA,1820,N4XCAA,NaN,...,NaN,NaN,IAH,DFW,224,NaN,NaN,1,B,0
323,2011,1,11,2,NaN,NaN,B6,624,N537JB,NaN,...,NaN,NaN,HOU,JFK,1428,NaN,NaN,1,B,0
347,2011,1,27,4,NaN,NaN,B6,624,N569JB,NaN,...,NaN,NaN,HOU,JFK,1428,NaN,NaN,1,B,0
415,2011,1,31,1,NaN,NaN,CO,442,NaN,NaN,...,NaN,NaN,IAH,TUL,429,NaN,NaN,1,B,0
424,2011,1,31,1,NaN,NaN,CO,500,NaN,NaN,...,NaN,NaN,IAH,IND,845,NaN,NaN,1,B,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224520,2011,12,30,5,NaN,NaN,XE,4710,N13550,NaN,...,NaN,NaN,IAH,CRP,201,NaN,NaN,1,B,0
224817,2011,12,22,4,1633.0,NaN,OO,5159,N724SK,NaN,...,NaN,103.0,IAH,ATL,689,NaN,NaN,1,B,0
224964,2011,12,29,4,NaN,NaN,OO,5233,N927SW,NaN,...,NaN,NaN,IAH,CLT,912,NaN,NaN,1,B,0
225366,2011,12,31,6,NaN,NaN,OO,5193,N727SK,NaN,...,NaN,NaN,IAH,OKC,395,NaN,NaN,1,B,0
225694,2011,12,4,7,NaN,NaN,OO,5162,N768SK,NaN,...,NaN,NaN,IAH,OMA,781,NaN,NaN,1,B,0

In [15]:
df.loc[df.CancellationCode == 'D', ]

,Year,Month,DayofMonth,DayOfWeek,DepTime,ArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,...,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted
109821,2011,6,3,5,NaN,NaN,OO,1136,N784SK,NaN,...,NaN,NaN,IAH,MCI,643,NaN,NaN,1,D,0

In [17]:
diverted_num = df["Diverted"].cumsum()
diverted_num

0           0
1           0
2           0
3           0
4           0
         ...
227491    649
227492    649
227493    649
227494    649
227495    649
Name: Diverted, Length: 227496, dtype: int64

In [18]:
cancel_num = df["Cancelled"].cumsum()
cancel_num

0            0
1            0
2            0
3            0
4            0
          ...
227491    2973
227492    2973
227493    2973
227494    2973
227495    2973
Name: Cancelled, Length: 227496, dtype: int64